{% extends 'base.html.twig' %}

{% block title %}My Pokemons{% endblock %}

{% block body %}
    <div class="card" style="width: 80%;margin: auto">
        <div class="card-body">
            <h5 class="card-title">Liste de mes pokemons</h5>
            <table class="table table-striped">
                <thead>
                <th><center>Nom</center></th>
                <th><center>Sexe</center></th>
                <th><center>Niveau</center></th>
                <th><center>Détails</center></th>
                </thead>
                <tbody>
                {% for row in pokemons %}
                <tr>
                <td><center>{{row['nom']}}</center></td>
                <td><center>{{row['sexe']}}</center></td>
                <td><center>{{row['niveau']}}</center></td>
                <td>
                    <a href="{{ path('my_pokemon_show', {'idp': row.idp}) }}">show</a>
                    <a href="{{ path('my_pokemon_edit', {'idp': row.idp}) }}">edit</a>
                </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}