{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="md-5">
            <img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.idEspece }}.png'>
        </div>
        <div class="md-5">
            <h1>{{ pokemon.nom }}</h1>
        </div>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Sexe</th>
            <td>{{ pokemon.sexe }}</td>
        </tr>
        <tr>
            <th>Xp</th>
            <td>{{ pokemon.xp }}</td>
        </tr>
        <tr>
            <th>Niveau</th>
            <td>{{ pokemon.niveau }}</td>
        </tr>
        <tr>
            <th>PrixVente</th>
            <td>{{ pokemon.prixVente }}</td>
        </tr>
        <tr>
            <th>Type 1</th>
            <td>{{ type1}}</td>
        </tr>
        {% if type2 %}
            <tr>
                <th>Type 2</th>
                <td>{{ type2}}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Type Courbe</th>
            <td>{{ espece.typeCourbeNiveau}}</td>
        </tr>
        <tr>
            <th>Derniere Chasse</th>
            <td>{{derniereChasse }}</td>
        </tr>
        <tr>
            <th>Dernier Entrainement</th>
            <td>{{dernierEntrainement }}</td>
        </tr>

        <tr>
            <th>Acheter</th>
            <th>
                <a href="{{ path('buy', {'idp': pokemon.idp}) }}">Acheter</a>
            </th>
        </tr>
        </tbody>
    </table>

    <div>
        <button type="button" onclick="location.href='{{ path('shop') }}'" class="btn btn-primary btn-lg">Retour au magasin</button>
    </div>

{% endblock %}