{% extends 'base.html.twig' %}


{% block body %}
    <h1>{{ pokemon.nom }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Sexe</th>
            <td>{{ pokemon.sexe }}</td>
        </tr>
        <tr>
            <th>Xp</th>
            <td>{{ pokemon.xp }}</td>
        </tr>
        <tr>
            <th>Niveau</th>
            <td>{{ pokemon.niveau }}</td>
        </tr>
        <tr>
            <th>PrixVente</th>
            <td>{{ pokemon.prixVente }}</td>
        </tr>
        <tr>
            <th>DisponibleEntrainement</th>
            <td>{{ pokemon.disponibleEntrainement ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Type 1</th>
            <td>{{ type1}}</td>
        </tr>
        {% if type2 %}
            <tr>
                <th>Type 2</th>
                <td>{{ type2}}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Type Courbe</th>
            <td>{{ espece.typeCourbeNiveau}}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_my_pokemon') }}">back to list</a>

    <a href="{{ path('my_pokemon_edit', {'idp': pokemon.idp}) }}">edit</a>

    {{ include('pokemon/_delete_form.html.twig') }}
{% endblock %}
