<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} WebTP 5!{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <style>
        .app-bold{
            font-weight: bold;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div style="text-align: center;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand centre" href="index.php">Pokédex</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-center">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ref_pokemon_type_index') }}">Liste des Pokemons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ref_pokemon_type_new') }}">Ajouter une Espèce Pokemon</a>
                    </li>

                    {% if not app.user %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
                        </li>

                    {% elseif app.user %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_my_pokemon') }}">Mes Pokémon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_capture') }}">Capture</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>




                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="card" style="width: 80%;margin: auto">
    <div class="card-body">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
</div>
<hr>
<footer>
    <p>Attrapez-les tous !</p>
</footer>
</body>
</html>
